

<div class="split-screen">
    <div class="text-column">
        <h1>Biography</h1>
        <br/>
        <p>
            Vietnam "Peter" Le (born March 6, 2002) is an American computer engineer, amateur 
            hedge fund manager, real estate investor, and amateur body builder. 
        </p>

        <br/>
        <p>
            He was born in Norwood, Massachusetts but attended Rochester Institute of Technology 
            of New York. He earned a Bachelor of Science in computer engineering technology in 2024. 
            Le started studying for a Master of Science in computer science but dropped out to focus 
            on his personal investments, business, and body building.
        </p>

        <br/>
        <h1> Contact Information </h1>
        <ul>
            <li>Phone: (508) 369-1010 </li>
            <li>Email: petertle&#64;outlook.com </li>
            <li>GitHub: petertle22 </li>
        </ul>

        <br/>
        <h1> Employment History </h1>

        <div id = "RKF">
            <p style="font-size: 20px"> <br> <b> <a href = "https://rkf-eng.com/"> RKF Engineering Solutions, LLC </a> </b> </p>
            <p> Software Engineer </p>
            <p> Contract: Cooperative Education </p>
            <p> Date: January 2023 - July 2023 </p>
            <ul>
              <li> Designed and implemented solutions to manage large databases of spectrum resources. </li>
              <li> Developed end-to-end software systems. </li>
              <li> Collaborated in an agile software development team. </li>
            </ul>
          </div>

        <div id = "TA">
            <p style="font-size: 20px"> <br> <b> <a href = "https://www.rit.edu/engineeringtechnology/"> College of Engineering Technology </a> </b> </p>
            <p> Teaching Assistant </p>
            <p> Contract: Semester </p>
            <p> Date: August 2021 - Present </p>
            <ul>
              <li> Prepared over 50 students for electrical engineering, software engineering, and digital design course exams and projects. </li>
              <li> Assisted professors with student engagement by alleviating questions, comments, or concerns about the course. </li>
              <li> Collaborated with professors on current research about digital design. </li>
            </ul>
            <p> <br> <br> </p>
        </div>

    </div>
    <div class="image-column">
        <img src="../../assets/MyPortrait.png" alt= "Hello World">
    </div>
</div>